<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Test Case</title>
</head>
<body>
    <div style="left: 0; height: 80%; width: 50%; top: 10%; padding-top: 20px; z-index: 1; overflow-x: hidden;">
        <iframe src="{{fileurl}}#toolbar=0" frameborder="0" scrolling="yes"                           
            style="overflow: hidden; height: 100%;" height="100%" width="100%"
            align="left"></iframe>
    </div>
    <div style="right: 0; height: 80%; width: 50%; top: 10%; padding-top: 20px; z-index: 1; overflow-x: hidden;">
        {{#each testcase}}
        <h3>{{this.name}}</h3>
        <button class="btn-primary btn mt-2" onclick="window.location.href='/faculty/viewCase/{{this._id}}'">View</button>
        <button class="btn-primary btn mt-2" onclick="window.location.href='/faculty/delCase/{{this._id}}'">Delete</button>
        {{/each}}
        <br><br>
        <button class="btn-primary btn mt-2" onclick="window.location.href='/faculty/newCase'">Add New Test Case</button>
    </div>
</body>
</html>