<div class="topnav">
        <a href="/student/{{title}}/results?page={{math pages '-' 1}}" id="prev">Prev</a>
        <a href="/student/{{title}}/results?page={{math pages '+' 1}}" id="next">Next</a>
</div>